@import "./index.scss";

$bg-banner-home: url("../../assets/homeBanner.png");
$bg-banner-about: url("../../assets/aboutBanner.png");
$height-banner-desktop: 25vh;
$height-banner-tablet: 20vh;
$height-banner-mobil: 15vh;

@mixin bg-settings {
  background-position: 40%;
  background-size: cover;
}

.banner {
  margin: 0 $margin-page;
  height: $height-banner-desktop;
  border-radius: 25px;
  position: relative;
  z-index: -1;
  @media (max-width: $tablet) {
    height: $height-banner-tablet;
    margin: 0 $margin-page-mobil;
  }
  @media (max-width: $mobil) {
    height: $height-banner-mobil;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
  }

  &__slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 99%;
    height: $height-banner-desktop;
    z-index: 0;
    color: white;
    font-size: 48px;

    @media (max-width: $big-tablet) {
      font-size: 43px;
    }
    @media (max-width: $tablet) {
      height: $height-banner-tablet;
      font-size: 40px;
    }
    @media (max-width: $mobil) {
      height: $height-banner-mobil;
      font-size: 24px;
      justify-content: flex-start;
      padding-left: 1em;
      width: 220px;
    }
  }
}

.homeBanner {
  background: $bg-banner-home;
  @include bg-settings;
}

.aboutBanner {
  background: $bg-banner-about;
  @include bg-settings;
}
